.form__save-button {
  width: 358px;
  height: 50px;
  background-color: #000000;
  color: #FFFFFF;
  align-self: center;
  margin-top: 48px;
  margin-bottom: 37px;
  border: 0;
  padding: 0;
  transition: opacity .2s ease .1s;
  border-radius: 2px;
}

.form__save-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 767px) {
  .form__save-button {
    margin-top: 45px;
    width: 238px;
    height: 46px;
    margin-bottom: 25px;
  }
}
