.profile {
  box-sizing: border-box;
  /*border: red 3px solid;*/
  width: 100%;
  max-width: 880px;
  min-height: 120px;
  /*max-height: 286px ;*/
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /*position: relative;*/
  padding-top: 40px;
}

@media screen and (max-width: 641px) {
  .profile {
    flex-direction: column;
    padding-top: 42px;
    width: 282px;
  }
}
