.form__business-info {
  box-sizing: border-box;
  width: 358px;
  border: 0;
  padding: 0;
  height: 57px;
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid rgba( 0, 0, 0, .2);
  margin: 0;
}

@media screen and (max-width: 767px) {
  .form__business-info {
    width: 238px;
  }
}
