.header {
  box-sizing: border-box;
  /*border: 5px solid rgba(255, 0, 0, 0.479);*/
  width: 100%;
  min-height: 74px;
  max-width: 880px;
  margin-top: calc(45px + (100vw - 1280px) * (17 / 960));
  border-bottom: 1px solid rgba(84, 84, 84, .7)
}

@media screen and (max-width: 1279px) {
  .header{
    min-height: 56px;
  }
}

