.form__blank {
  box-sizing: border-box;
  width: 430px;
  background-color: rgba(255, 255, 255, 1);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-self: flex-start;
  margin-top: 8px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, .15);

}

@media screen and (max-width: 767px) {
  .form__blank {
    width: 282px;
    align-items: center;
    margin-top: 16px;
  }
}
