.card {
  box-sizing: border-box;
  border-radius: 10px;
  overflow: hidden;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
