.form__close-button {
  width: 32px;
  height: 32px;
  margin-left: auto;
  background-image: url(./../../../images/form/CloseIcon.svg);
  border: 0;
  background-color: initial;
  padding: 0;
  background-size: contain;
}

@media screen and (max-width: 767px) {
  .form__close-button {
    width: 20px;
    height: 20px;
  }
}
